@import 'https://fonts.googleapis.com/css?family=Indie+Flower';

body
{
  background: rgb(162, 167, 228);
  color: #FFF;
  font-size: 150%;
  font-family: 'Lato', sans-serif;
}

.container
{
  width: 600px;
  margin: 0 auto;
  text-align: center;
}